
.alert-Error {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.alert-Success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

#loader {
    margin: auto;
    width: 60%;
    padding: 10px;
}

.loaderimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.radios {
    padding: 5px 15px 5px 15px;
}

.radios-gender {
    height: 63px;
    background: #f2f2f2;
    line-height: 63px;
    text-align: center;
    border-radius: 2px;
    border: 1px solid rgb(221, 221, 221);
    box-shadow: none;
    width: 100%;
    margin-bottom: 15px;
}

.question {
    padding: 5px 15px 5px 15px;
    font-weight: bold;
    font-size: 18px;
}

.answered {
    border: 2px solid #61a269;
}

.activepage {
    background-color: #ed1c24 !important;
    color: #FFF !important;
}
.activepagea {
    color: #FFF !important;
}



input[type=radio].with-font,
input[type=checkbox].with-font {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

input[type=radio].with-font ~ label:before {
    font-family: FontAwesome;
    display: inline-block;
    content: "\f1db";
    letter-spacing: 10px;
    font-size: 1.2em;
    color: #535353;
    width: 1.4em;
}

input[type=radio].with-font:checked ~ label:before {
    content: "\f00c";
    font-size: 1.2em;
    color: darkgreen;
    letter-spacing: 5px;
}

input[type=radio].with-font:focus ~ label:before,
input[type=radio].with-font:focus ~ label {
    color: green;
}

label.dropdown select {
    padding: 10px 42px 10px 10px;
    background: #f8f8f8;
    color: #444;
    border: 1px solid #aaa;
    border-radius: 0;
    display: inline-block;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    outline: none;
}

label.dropdown select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #444;
}

label.dropdown select::-ms-expand {
    display: none;
}

label.dropdown:before {
    content: '';
    right: 5px;
    top: -7px;
    width: 30px;
    height: 33px;
    background: #f8f8f8;
    position: absolute;
    pointer-events: none;
    display: block;
}

label.dropdown {
    position: relative;
}

label.dropdown:after {
    content: '>';
    font: 16px Consolas, monospace;
    color: #444;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    right: 2px;
    top: -3px;
    border-bottom: 1px solid #aaa;
    position: absolute;
    pointer-events: none;
    width: 35px;
    padding: 0 0 5px 0;
    text-indent: 14px;
}

@media screen\0 {
    label.dropdown:after {
        width: 38px;
        text-indent: 15px;
        right: 0;
    }
}

@media screen and (min--moz-device-pixel-ratio: 0) {
    label.dropdown select {
        padding-right: 40px;
    }

    label.dropdown:before {
        right: 6px;
    }

    label.dropdown:after {
        text-indent: 14px;
        right: 6px;
        top: -5px;
        width: 36px;
    }
}

._720kb-datepicker-calendar-header:nth-child(2n+1) {
    background: #ed1c24 !important;
}

._720kb-datepicker-calendar-header:nth-child(2n) {
    background: #f2f2f2  !important;
}

.master-container {
    overflow: visible !important;
    margin-bottom: 30px;
}